@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    background-color: rgb(73, 4, 92);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

  }

  h2 {
    font-size: 2rem;
    padding: 10px;
  }
  
  #input-city {
    margin: 50px;
    border-radius: 15px 0px 15px 0px;
    border-bottom: 5px solid orange;
    font-size: 1.4rem;
    padding: 10px;
  }

  
  #city-name {
    font-size: 2.6rem;
  }

  #temp {
    font-size: 3.5rem;
    margin: 20px;
  }

  #weather {
    font-size: 2rem;
    text-transform: capitalize;
  }